*
!source/
!source/**
!native/
!native/**
!docs/
!docs/**
!shell/
!shell/**
!profiles/
!profiles/**
!dub.json
!README.adoc
!CHANGELOG.adoc
!LICENSE
!schema.example.sdl
!antora.yml
!.gitignore
!.github/
!.github/**
